footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text {
    color: #000000;
    font-size: 14pt;
    display: block;
}

#footer_github_logo {
    position: relative;
    height: 25px;
    bottom: 5px;
    left: 15px;
}

#waffle_logo {
    position: relative;
    height: 25px;
    bottom: 4px;
    left: 15px;
}

#esdoc_logo {
    font-family: 'Roboto', sans-serif;
    display: block;
    color: #E02130;
    font-weight: bold;
    font-size: 2em;
    left: 10px;
}